body {
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Fira Sans", "Droid Sans", "Helvetica Neue", Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
    font-weight: 500;
}

#content {
    max-width: 64rem;
    margin: auto;
}

#header {
    display: inline-block;
    width: 100%;
    padding: 5px;
    padding-top: 0;
}

#templateName {
    position: relative;
    width: 70%;
    float: left;
    display: inline-block;
    font-size: 40px;
    font-weight: 500;
}

#templateName img {
    width: 50px;
    position: relative;
    top: 12px;
    margin-right: 5px;
    display: inline-block;
}

#templateSelector {
    position: relative;
    width: 28%;
    float: right;
    display: block;
    padding-right: 10px;
    top: 20px;
}

#mainSelector {
    position: relative;
    float: right;
    border-radius: 5px;
    border-style: solid;
    border-width: 1px;
    padding: 5px;
    font-weight: 600;
    border-color: rgb(180, 180, 180);
    overflow: hidden;
    font-size: 13px;
    -webkit-appearance: none;
    background-color: #f6f7f8;
}

#mainContent {
    max-width: 60rem;
    margin: auto;
    margin-top: 25px;
    display: none;
}

#tableData {
    width: 60%;
    display: block;
    position: relative;
    float: left;
    font-size: 13px;
}

#graphSection {
    width: 39%;
    display: block;
    float: right;
    position: relative;
}

#mainTable {
    font-size: 10px;
}
