body {
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Fira Sans", "Droid Sans", "Helvetica Neue", Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
    font-weight: 500;
}

#header {
    display: inline-block;
    width: 100%;
    padding: 5px;
    padding-top: 0;
}

#footer {
    margin-top: 2rem;
    display: inline-block;
    width: 100%;
    height: 30px;
    bottom: 0;
    text-align: right;
    font-size: 10px;
    font-weight: 400;
    color: rgb(112, 112, 112);
}

#footer a{
    font-weight: 600;
    text-decoration: none;
    color: rgb(0, 0, 0);
}

#templateName {
    position: relative;
    float: left;
    display: inline-block;
    font-size: 40px;
    font-weight: 500;
}

#progressLoading {
    position: relative;
    float: left;
    display: block;
    height: 30px;
    width: 30px;
    margin: auto;
    margin-left: 20px;
    top: 23px;
}

#templateName img {
    width: 50px;
    position: relative;
    top: 12px;
    margin-right: 5px;
    display: inline-block;
}

#templateSelector {
    position: relative;
    width: 28%;
    float: right;
    display: block;
    padding-right: 10px;
    top: 20px;
}

#mainSelector {
    position: relative;
    float: right;
    border-radius: 5px;
    border-style: solid;
    border-width: 1px;
    padding: 5px;
    font-weight: 600;
    border-color: rgb(180, 180, 180);
    overflow: hidden;
    font-size: 13px;
    background-color: #f6f7f8;
    cursor: pointer;
}

#content {
    max-width: 68rem;
    margin: auto;
    min-width: 975px;
}

#mainContent {
    max-width: 64rem;
    margin: auto;
    margin-top: 25px;
    display: none;
}

#tableData {
    width: 56%;
    display: block;
    position: relative;
    float: left;
    font-size: 13px;
}

#graphSection {
    width: 43%;
    display: block;
    float: right;
    position: relative;
    word-wrap: break-word;
}

#mainTable {
    font-size: 10px;
}

#errorMsg {
    margin:auto;
    position: relative;
    width: 40%;
    padding: 20px;
    margin-top: 10%;
    border-color: rgb(218, 218, 218);
    background-color: rgb(235, 235, 235);
    text-align: center;
    font-size: 25px;
    font-weight: 300;
    border-radius: 5px;
    border-width: 1px;
    border-style: solid;
    box-shadow:  0px 0px 6px 0px rgba(0, 0, 0, 0.2);
    display: none;
    word-wrap: break-word;
    cursor: pointer;
}

#errorMsg:hover{
    box-shadow:  0px 0px 0px 0px rgba(0, 0, 0, 0.2);
}

#errorMsg img {
    width: 35px;
    position: relative;
    display: inline-block;
    margin-top: auto;
    margin-bottom: auto;
    top: 8px;
    margin-right: 5px;
    opacity: 0.6;
}

#errorMsgText {
    position: relative;
    top: -5px;
}

.graphCanvas {
    width: 100%;
    margin-bottom: 10px;
    display: block;
}
